test/testflow.json
[{"id":"301b3265.8f9cee","type":"tab","label":"test load balance","disabled":false,"info":""},{"id":"618c1697.3a70c8","type":"Load Balance","z":"301b3265.8f9cee","name":"round robin","outputs":3,"selection":"next","x":410,"y":60,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"]]},{"id":"6be46a21.f93954","type":"Load Balance","z":"301b3265.8f9cee","name":"random","outputs":3,"selection":"random","x":400,"y":120,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"]]},{"id":"bc1e204.47754e","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":20,"wires":[["618c1697.3a70c8"]]},{"id":"a7de1d90.4f6d5","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":100,"wires":[["6be46a21.f93954"]]},{"id":"e2843e9d.54aa2","type":"debug","z":"301b3265.8f9cee","name":"p1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":60,"wires":[]},{"id":"c6221507.2a06e8","type":"debug","z":"301b3265.8f9cee","name":"p2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":120,"wires":[]},{"id":"791f86bb.fa5ef8","type":"debug","z":"301b3265.8f9cee","name":"p3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":180,"wires":[]},{"id":"f3683760.0faed8","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path 0 capacity 0","topic":"loadbalance","payload":"{\"path\":0,\"capacity\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8","37fafb63.109f84"]]},{"id":"b3704c8b.4a7c9","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["7029d6c7.f1dd68"]]},{"id":"7029d6c7.f1dd68","type":"Load Balance","z":"301b3265.8f9cee","name":"fold on capacity","outputs":3,"selection":"foldweighted","x":420,"y":200,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"]]},{"id":"15bb8bae.af2514","type":"inject","z":"301b3265.8f9cee","name":"loadbalancedebug","topic":"loadbalancedebug","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["37fafb63.109f84"]]},{"id":"be861c68.39003","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path 0 capacity 100","topic":"loadbalance","payload":"{\"path\":0,\"capacity\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8","37fafb63.109f84"]]},{"id":"37fafb63.109f84","type":"Load Balance","z":"301b3265.8f9cee","name":"next below avg capacity","outputs":3,"selection":"nextsmoothed","x":450,"y":260,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"]]},{"id":"b2161de7.bb0af","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":260,"wires":[["37fafb63.109f84"]]},{"id":"9b0ff398.b5cfb","type":"inject","z":"301b3265.8f9cee","name":"loadbalancedebug","topic":"loadbalancedebug","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["618c1697.3a70c8"]]},{"id":"6458dc41.6eb5f4","type":"inject","z":"301b3265.8f9cee","name":"loadbalancedebug","topic":"loadbalancedebug","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["6be46a21.f93954"]]},{"id":"19f5da5d.da0296","type":"inject","z":"301b3265.8f9cee","name":"loadbalancedebug","topic":"loadbalancedebug","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["7029d6c7.f1dd68"]]}]