test/testDynamic.json
[{"id":"8296331f.9cbd4","type":"tab","label":"load balance test dynamic","disabled":false,"info":""},{"id":"b529d97f.9032e8","type":"http request","z":"8296331f.9cbd4","name":"load balance template","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":420,"y":140,"wires":[["2e77459c.7620da"]]},{"id":"741e0bd9.05cca4","type":"inject","z":"8296331f.9cbd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["b529d97f.9032e8"]]},{"id":"2e77459c.7620da","type":"debug","z":"8296331f.9cbd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":140,"wires":[]},{"id":"9e40352e.1211d8","type":"http in","z":"8296331f.9cbd4","name":"","url":"/loadbalance/sticky1","method":"get","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["e2cb8aa8.db4788"]]},{"id":"70e1cbc9.11b944","type":"Load Balance","z":"8296331f.9cbd4","name":"","routes":1,"outputs":2,"selection":"next","noavailability":"admin","nocapacity":"admin","defaultcapacity":100,"sticky":"","dynamic":"b529d97f.9032e8","mps":"","x":400,"y":300,"wires":[["16f9a5ac.e38c5a"],["32c9118a.74214e"]]},{"id":"e324f699.b639e8","type":"inject","z":"8296331f.9cbd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["70e1cbc9.11b944"]]},{"id":"a55428c3.96a308","type":"http response","z":"8296331f.9cbd4","name":"","statusCode":"200","headers":{},"x":660,"y":220,"wires":[]},{"id":"16f9a5ac.e38c5a","type":"debug","z":"8296331f.9cbd4","name":"admin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":300,"wires":[]},{"id":"32c9118a.74214e","type":"debug","z":"8296331f.9cbd4","name":"path 0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":360,"wires":[]},{"id":"69ad0d33.a9a854","type":"inject","z":"8296331f.9cbd4","name":"add sticky1","topic":"loadbalance.route","payload":"{\"action\":\"add\",\"url\":\"localhost:1880/loadbalance/sticky1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["70e1cbc9.11b944"]]},{"id":"d3f60d4b.6565b","type":"inject","z":"8296331f.9cbd4","name":"loadbalance.list","topic":"loadbalance.list","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":500,"wires":[["70e1cbc9.11b944"]]},{"id":"e2cb8aa8.db4788","type":"function","z":"8296331f.9cbd4","name":"","func":"msg.payload={message:\"test\",url:msg.req.url}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["a55428c3.96a308","18d36d8c.0ae0d2"]]},{"id":"f4bf66ca.0c44d8","type":"http in","z":"8296331f.9cbd4","name":"","url":"/loadbalance/sticky2","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["e2cb8aa8.db4788"]]},{"id":"ef8293d3.5bf3f","type":"inject","z":"8296331f.9cbd4","name":"add sticky2","topic":"loadbalance.route","payload":"{\"action\":\"add\",\"url\":\"localhost:1880/loadbalance/sticky2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["70e1cbc9.11b944"]]},{"id":"18d36d8c.0ae0d2","type":"debug","z":"8296331f.9cbd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":180,"wires":[]},{"id":"70251afc.9c6924","type":"comment","z":"8296331f.9cbd4","name":"url being blank allows override by load balance","info":"","x":510,"y":80,"wires":[]},{"id":"5d2736a.95c66c8","type":"inject","z":"8296331f.9cbd4","name":"add badurl","topic":"loadbalance.route","payload":"{\"action\":\"add\",\"url\":\"/badurl\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[[]]},{"id":"f3f980a7.c104e","type":"inject","z":"8296331f.9cbd4","name":"add notfound404","topic":"loadbalance.route","payload":"{\"action\":\"add\",\"url\":\"notfound404\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["70e1cbc9.11b944"]]}]