test/testflow.json
[{"id":"301b3265.8f9cee","type":"tab","label":"test load balance","disabled":false,"info":""},{"id":"618c1697.3a70c8","type":"Load Balance","z":"301b3265.8f9cee","name":"round robin","routes":"3","outputs":4,"selection":"next","noavailablity":"admin","defaultcapacity":"100","mps":"","x":430,"y":40,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"],["b391060e.9d8138"]]},{"id":"6be46a21.f93954","type":"Load Balance","z":"301b3265.8f9cee","name":"random","routes":"3","outputs":4,"selection":"random","noavailablity":"admin","defaultcapacity":"100","mps":"","x":420,"y":120,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"],["b391060e.9d8138"]]},{"id":"bc1e204.47754e","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":20,"wires":[["618c1697.3a70c8"]]},{"id":"a7de1d90.4f6d5","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":100,"wires":[["6be46a21.f93954"]]},{"id":"e2843e9d.54aa2","type":"debug","z":"301b3265.8f9cee","name":"admin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":60,"wires":[]},{"id":"c6221507.2a06e8","type":"debug","z":"301b3265.8f9cee","name":"p1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":120,"wires":[]},{"id":"791f86bb.fa5ef8","type":"debug","z":"301b3265.8f9cee","name":"p2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":180,"wires":[]},{"id":"f3683760.0faed8","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path 0 capacity 0","topic":"loadbalance","payload":"{\"path\":0,\"capacity\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8","37fafb63.109f84","f16c63dd.14548"]]},{"id":"b3704c8b.4a7c9","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["7029d6c7.f1dd68"]]},{"id":"7029d6c7.f1dd68","type":"Load Balance","z":"301b3265.8f9cee","name":"fold on capacity","routes":"3","outputs":4,"selection":"foldweighted","noavailablity":"admin","nocapacity":"next","defaultcapacity":"100","mps":"","x":440,"y":200,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"],["b391060e.9d8138"]]},{"id":"15bb8bae.af2514","type":"inject","z":"301b3265.8f9cee","name":"loadbalance.list","topic":"loadbalance.list","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["37fafb63.109f84"]]},{"id":"be861c68.39003","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path 0 capacity 100","topic":"loadbalance","payload":"{\"path\":0,\"capacity\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":480,"wires":[["7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8","37fafb63.109f84","f16c63dd.14548"]]},{"id":"37fafb63.109f84","type":"Load Balance","z":"301b3265.8f9cee","name":"next below avg capacity","routes":"3","outputs":4,"selection":"nextsmoothed","noavailablity":"admin","nocapacity":"admin","defaultcapacity":"100","mps":"","x":470,"y":280,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"],["b391060e.9d8138"]]},{"id":"b2161de7.bb0af","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":260,"wires":[["37fafb63.109f84"]]},{"id":"9b0ff398.b5cfb","type":"inject","z":"301b3265.8f9cee","name":"loadbalance.list","topic":"loadbalance.list","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["618c1697.3a70c8"]]},{"id":"6458dc41.6eb5f4","type":"inject","z":"301b3265.8f9cee","name":"loadbalance.debug","topic":"loadbalance.debug","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["6be46a21.f93954"]]},{"id":"19f5da5d.da0296","type":"inject","z":"301b3265.8f9cee","name":"loadbalance.list","topic":"loadbalance.list","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["7029d6c7.f1dd68"]]},{"id":"b391060e.9d8138","type":"debug","z":"301b3265.8f9cee","name":"p3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":240,"wires":[]},{"id":"56c13557.679a7c","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path all capacity 0","topic":"loadbalance","payload":"[{\"path\":0,\"capacity\":0},{\"path\":1,\"capacity\":0},{\"path\":2,\"capacity\":0}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["37fafb63.109f84","7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8"]]},{"id":"ffd4ef80.59639","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path all capacity 100","topic":"loadbalance","payload":"[{\"path\":0,\"capacity\":100},{\"path\":1,\"capacity\":100},{\"path\":2,\"capacity\":100}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":560,"wires":[["37fafb63.109f84","7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8","f16c63dd.14548"]]},{"id":"79ef4eb7.20595","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path all status: 1","topic":"loadbalance","payload":"[{\"path\":0,\"status\":1},{\"path\":1,\"status\":1},{\"path\":2,\"status\":1}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["37fafb63.109f84","7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8","f16c63dd.14548"]]},{"id":"e3fe5a10.988198","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path all status: 0","topic":"loadbalance","payload":"[{\"path\":0,\"status\":0},{\"path\":1,\"status\":0},{\"path\":2,\"status\":0}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["37fafb63.109f84","7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8"]]},{"id":"6ef383eb.0b3e4c","type":"inject","z":"301b3265.8f9cee","name":"loadbalance path 0 status: 0","topic":"loadbalance","payload":"{\"path\":0,\"status\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["37fafb63.109f84","7029d6c7.f1dd68","6be46a21.f93954","618c1697.3a70c8","f16c63dd.14548"]]},{"id":"f16c63dd.14548","type":"Load Balance","z":"301b3265.8f9cee","name":"fold on capacity with mps + discard","routes":"3","outputs":4,"selection":"foldweighted","noavailablity":"discard","nocapacity":"discard","defaultcapacity":"3","mps":true,"x":500,"y":380,"wires":[["e2843e9d.54aa2"],["c6221507.2a06e8"],["791f86bb.fa5ef8"],["b391060e.9d8138"]]},{"id":"296f2734.4a3428","type":"inject","z":"301b3265.8f9cee","name":"loadbalance.list","topic":"loadbalance.list","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":380,"wires":[["f16c63dd.14548"]]},{"id":"3fd3724f.af0f3e","type":"inject","z":"301b3265.8f9cee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":340,"wires":[["f16c63dd.14548"]]},{"id":"1be350ed.ca44ef","type":"comment","z":"301b3265.8f9cee","name":"Load Injector requires nodered-contribut-prib-functions","info":"","x":560,"y":600,"wires":[]},{"id":"5c1c0279.61b74c","type":"Load Injector","z":"301b3265.8f9cee","name":"Load Inject for 10 seconds","thinktimemin":"100","thinktimemax":"200","runtime":"10","payload":"","payloadType":"date","x":500,"y":540,"wires":[["f16c63dd.14548"]]}]