node-red-contrib-loadbalancer/test/testflow.json
[{"id":"8a7ef820.73d978","type":"tab","label":"test load balance","disabled":false,"info":""},{"id":"9f2d585a.19f538","type":"Load Balance","z":"8a7ef820.73d978","name":"round robin","outputs":3,"selection":"next","x":300,"y":60,"wires":[["4dd3da49.0cfff4"],["40108b39.5eef54"],["5e36b0a8.8d979"]]},{"id":"8401b371.70b1b","type":"Load Balance","z":"8a7ef820.73d978","name":"random","outputs":3,"selection":"random","x":300,"y":160,"wires":[["4dd3da49.0cfff4"],["40108b39.5eef54"],["5e36b0a8.8d979"]]},{"id":"273a4890.a85978","type":"inject","z":"8a7ef820.73d978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":60,"wires":[["9f2d585a.19f538"]]},{"id":"652562d8.dc9a8c","type":"inject","z":"8a7ef820.73d978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":160,"wires":[["8401b371.70b1b"]]},{"id":"4dd3da49.0cfff4","type":"debug","z":"8a7ef820.73d978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":60,"wires":[]},{"id":"40108b39.5eef54","type":"debug","z":"8a7ef820.73d978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":120,"wires":[]},{"id":"5e36b0a8.8d979","type":"debug","z":"8a7ef820.73d978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":180,"wires":[]}]